body {
  background-color: white;
}



.jumbotron {
    margin-bottom: -21px;
    background-color: white;
    background-image: url(../assets/img/unfinished-rick-web.jpg);
    background-position: 51% 83%;
    background-size: 21em;
    background-repeat: no-repeat;
    color: black;
    min-height: 22rem;
}

.header-img{
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.navbar {
  background-color: rgba(255,255,255,0.95);
  padding: 0;
}

.active {
  text-shadow: 1px 1px 1px #3aeae4,-1px -1px 1px #bc20ff;
}


.title-tag {
  background-color: black;
  color: white;
  border-radius: 10px;
}

.description {
  background-color: white;
  border: 5px solid white;
  border-radius: 10px;
}


/*Matching Height Columns*/
.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  flex-wrap: wrap;
}
.row > [class*='col-'] {
  display: flex;
  flex-direction: column;
}
/*/Matching Height Columns*/

.soundsTotal {
  display: none;
}

/*TYPOGRAPHY*/

.jumbotron h1, .navbar-brand, .title-tag, h1, h2, h3, h4 {
  font-family: 'Abril Fatface', cursive;
  word-spacing: 0.146em;
  letter-spacing: -0.012em;
}

p, .navbar .nav-link, .title-tag p{
  font-family: 'Federo', sans-serif;
  color: black;
}

/*Copy and Nav*/

p {
  font-size: 1.3em;
}

.navbar-nav .nav-link{
  font-size: 1.5rem;
  padding-top: 1.2rem;
}

.title-tag p {
  color: white;
  font-size: 1.2em;
}

/*HEADINGS*/

.navbar-brand {
  font-size: 2.8rem;
}

.title-tag h1{
  font-size: 2.5rem;
  background-color: black;
  color: white;
  height: auto;
}
