body {
  background-color: black;
}

p {
  color: black;
  font-family: 'Nixie One', cursive;
  font-size: 1.3em;
}

.jumbotron h1 {
  font-family: 'Righteous', cursive;
}

.jumbotron {
    margin-bottom: 0px;
    background-color: white;
    background-image: url(../assets/img/unfinished-rick-web.jpg);
    background-position: 0% 83%;
    background-size: 80em;
    background-repeat: no-repeat;
    color: black;
    min-height: 22rem;
    padding-top: 15rem;
}

.jumbotron .nav-link{
  font-family: 'Nixie One', cursive;
  font-size: 1.5rem;
  padding-top: .5rem;
  color: black;
}

.navbar {
  background-color: black;
}

.navbar-brand {
  font-family: 'Righteous', cursive;
  font-size: 2rem;
}

.navbar .nav-link {
  font-family: 'Nixie One', cursive;
  font-size: 1.5rem;
}

.title-tag {
  background-color: black;
  color: white;
  border-radius: 10px;
}

.title-tag h1{
  font-family: 'Righteous';
  font-size: 50px;
  background-color: black;
  color: white;
  height: auto;
}

.title-tag p {
  color: white;
  font-family: 'Nixie One', cursive;
  font-size: 1.2em;
}

.description {
  background-color: white;
  border: 5px solid white;
  border-radius: 10px;
}

.music-box {
  background-color: white;
}

/*Matching Height Columns*/
.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  flex-wrap: wrap;
}
.row > [class*='col-'] {
  display: flex;
  flex-direction: column;
}
/*/Matching Height Columns*/

.soundsTotal {
  display: none;
}
